In [5]:
import pandas as pd

In [6]:
arquivo = pd.read_csv("C:\Python\wine_dataset.csv")

In [7]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [8]:
arquivo['style'] = arquivo['style'].replace('red', 0)

In [9]:
arquivo['style'] = arquivo['style'].replace('white', 1)

In [10]:
arquivo.shape

(6497, 13)

In [11]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

In [12]:
y = arquivo['style']

In [13]:
x = arquivo.drop('style', axis  = 1)

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

In [19]:
x_treino.shape

(4547, 12)

In [20]:
x_teste.shape

(1950, 12)

In [21]:
from sklearn.ensemble import ExtraTreesClassifier

In [22]:
#Criação do Modelo
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
           max_depth=None, max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [24]:
#Testando o algoritmo de aprendizado
resultado = modelo.score(x_teste, y_teste)
print('Acurácia: ', resultado)

Acurácia:  0.9969230769230769

In [16]:
y_teste[400:403]

5435    1
2818    1
4711    1
Name: style, dtype: int64

In [17]:
x_teste[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
5435,8.0,0.27,0.33,1.2,0.050,41.0,103.0,0.99002,3.00,0.45,12.4,6
2818,8.2,0.37,0.36,1.0,0.034,17.0,93.0,0.99060,3.04,0.32,11.7,8
4711,7.6,0.23,0.34,1.6,0.043,24.0,129.0,0.99305,3.12,0.70,10.4,5

In [18]:
previsoes = modelo.predict(x_teste[400:403])

In [19]:
previsoes

array([1, 1, 1], dtype=int64)